<html>
  <head>
    <title> Sign Up </title>
    <link rel="stylesheet" href="/css/Sign.css">
  </head>
  <nav>
    <a href="/index.html">Home</a>
    <a href="/templates/About.html">About us</a>
    <a href="/templates/Sign.html">Sign Up</a>
   </nav>
  <body>
    <form>
      <h1> Sign Up</h1>
      <input type="text" name="" placeholder="Username">
      <input type="text" name="" list="tech" placeholder="Technology">
      <datalist id="tech">
        <option> MBA </option>
        <option> M.Tech</option>
        <option> MBBS</option>
        <option> B.E</option>
        <option> B.com</option>
      </datalist> 
      <input type="email" name="" placeholder="Email">
      <input type="password" name="" placeholder="Password">
      <input type="password" name="" placeholder="Comfirm Password">
      <button type="submit">SignUp</button>
    </form>



















  </body>
</html>